<div class="container w-100">

    <div class="row w-100 mt-5">
      <div class="col-md-12">
        <h1 class="text text-center font-weight-bold "> VOZ PRETA ! ! ! </h1>
      </div>
    </div>
  
 
    <div class="row w-100 mt-4 mb-4">
      <div class="col-md-12">
        <p class="text-justify text">
          Quando permitirmos que a liberdade ressoe, quando a deixarmos ressoar de cada vila e cada lugar, de cada estado e cada cidade, seremos capazes de fazer chegar mais rápido o dia em que todos os filhos de Deus, negros e brancos, judeus e gentios, protestantes e católicos, poderão dar-se as mãos e cantar as palavras da antiga canção espiritual negra: “Finalmente livres! Finalmente livres! Graças a Deus Todo Poderoso, somos livres, finalmente."
        </p>
            <p>  
              Martin Luther King Jr.
            </p>
       
      </div>

            </div>
  </div>
  
    <div class="parallax"></div>
  
    <div class="row w-100 mt-5 mb-5">
      <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
      </div>
    </div>
