<div class="container w-100">

    <div class="row w-100 mt-5">
      <div class="col-md-12">
        <h1 class="text-monospace text-center font-weight-bold "> Bem-vindes ao meu blog!! </h1>
      </div>
    </div>
  
 
    <div class="row w-100 mt-4 mb-4">
      <div class="col-md-12">
        <p class="text-justify text-monospace">
            Advogado | Formado na FMU | Desenvolvedor Java Jr. Cursando em Generation Brasil | Pós-graduando em Processo Civil na Universidade Presbiteriana Mackenzie | Cursando Técnico em Desenvolvimento de Sistemas no Centro Paulo Souza |

            
        </p>
      </div>

      <div class="col-md-12">
        <p class="text-justify text-monospace">
           
            Mais de 10 (dez) anos de experiência, sendo:
            
        </p>
      </div>

      <div class="col-md-12">
        <p class="text-justify text-monospace">
            • Sólida experiência na área jurídica, com vivência em diversos cargos, com ênfase na atuação em departamento jurídico coorporativo de empresa de grande porte do setor Ambiental;<br>
            • Vivência em grandes escritórios: massificadas de companhia aérea (ações indenizatórias passivas) | trabalhista – especialmente na fase recursal e de execução | liderança da equipe de estagiários em escritório boutique de Direito Administrativo;<br>
            • Conhecimento em diversos sistemas, como: DBI, Benner, Open Mind, BCS, LegalBox, e-Saj, PJE, entre outros;<br>
            • Advocacia autônoma, em diversas demandas – judicias e extrajudiciais;<br>
            • Experiência no registro de marcas perante o INPI, bem como verificação de viabilidade do registro.<br>
               
        </p>
      </div>



      <div class="col-md-12">
        <p class="text-justify text-monospace">
           
            Entusiasta por tecnologia | Perfil hands-on | Inovação como forma de trabalho | Acredito que o direito e a tecnologia são aliados para o desenvolvimento e bom desempenho nas tarefas, e objetivando por fim, sempre agir em conformidade |
            
            Inovação no Direito I Desenvolvedor Java Jr. | Big Data | Machine learning | Inteligência Artificial | Legal Design I Data Analytcs I Legal Analytcs I Lawtechs |   
        </p>
      </div>

      <div class="col-md-12">
        <p class="text-justify text-monospace">
           
            
            
            Inovação no Direito I Desenvolvedor Java Jr. | Big Data | Machine learning | Inteligência Artificial | Legal Design I Data Analytcs I Legal Analytcs I Lawtechs |   
        </p>
      </div>

    </div>
  </div>
  
    <div class="parallax"></div>
  
    <div class="row w-100 mt-5 mb-5">
      <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
      </div>
    </div>
