<div class="container w-100">

    <div class="row w-100 mt-5">
      <div class="col-md-12">
        <h1 class="text-monospace text-center font-weight-bold "> VOZ PRETA ! ! ! </h1>
      </div>
    </div>
  
 
    <div class="row w-100 mt-4 mb-4">
      <div class="col-md-12">
        <p class="text-justify text-monospace">
            Advogado | Formado na FMU | Desenvolvedor Java Jr. Cursando em Generation Brasil | Pós-graduando em Processo Civil na Universidade Presbiteriana Mackenzie | Cursando Técnico em Desenvolvimento de Sistemas no Centro Paulo Souza |

            
        </p>
      </div>

      <div class="col-md-12">
        <p class="text-justify text-monospace">
           
            Mais de 10 (dez) anos de experiência!
            
        </p>
      </div>

      </div>
  </div>
  
    <div class="parallax"></div>
  
    <div class="row w-100 mt-5 mb-5">
      <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
      </div>
    </div>
