/* footer social icons */

ul.social-network {
  display: inline;
  list-style: none;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0;
  padding: 5px;
}

.faFacebook, .faLinkedin, .faGithub, .faInstagram{
  color: white;
}
  
.faFacebook:hover{
  color: #3b5998;
  transition: 1s;
}
  
.faLinkedin:hover{
  color: #0072b1;
  transition: 1s;
}
  
.faInstagram:hover{
  color: #C13584;
  transition: 1s;
}

.faGithub:hover{
  color: #0c0b0c;
  transition: 1s;
}